<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

 <!--  Tell Spring core we are using annotations -->

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package ="com.revature"></context:component-scan>
	
<!-- Tell Spring ORM we are using annotations  -->

	<tx:annotation-driven></tx:annotation-driven>
	
	<!-- Tell Spring MVC that we are using annotations -->
	
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- Configure DB connection info and configure Hibernate -->
	
	<!-- Data Source: this will be a JDBC bean instance that will hold our connection information -->
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://revature-2109-java.cmeofp2uiqe0.us-east-2.rds.amazonaws.com:5432/springormdb"></property>
		<property name="username" value="springormuser"></property>
		<property name="password" value="Dubhghall1!"></property>
	</bean>
	
	<!-- Session Factory: a Hibernate bean instance that will create and manage our sessions.-->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.revature.model"></property>
		<property name="hibernateProperties">
			<props>
				<prop key = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key ="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>	
		</property>
	</bean>
	
	<!-- Transaction manager: hibernate instance responsible for managing transactions 
			"Programmatic transaction management": directly hard coded into code logic
			"Declarative transaction management": use annotations / configs to handle without hard coding into business logic-->
	<bean id="transactionManager" class = "org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	
	</bean>
	
	
</beans>